* {
  box-sizing: border-box;

  /* outline: 2px solid rgb(243, 10, 10); */
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(235, 231, 224);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.container,
h1 {
  background-color: #fff;
  box-shadow: 0 0 1rem #f3fab5b2;
  margin: 2rem;
  width: 50vw;
  min-width: 34rem;
}

h1 {
  position: relative;
  bottom: -4rem;
}

i {
  width: 2rem;
  margin: 0.2rem;
  position: relative;
  display: inline-block;
}

.no-pointer {
  cursor: default;
}

h1.no-pointer {
  background-color: #f3fab5b2;
  padding: 1rem;
}

ul {
  list-style: none;
  padding: 1rem 0;
  padding-left: 0.95rem;
  margin: 0;
  border-radius: 1.5rem;
}

li {
  width: 99%;
  background-color: white;
}

.checked {
  text-decoration: line-through;
  color: #888;

  /* pointer-events: none; */
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}

.not-checked {
  all: unset;
}

.to-do-title {
  display: flex;
  justify-content: space-between;
  text-align: left;
  border-bottom: 1px solid #ddd;
  padding: 0.4rem 0.4rem 0 0;
}

.grey-text {
  color: #8c8c8c;
  font-weight: 500;
  font-size: 18px;
}

form {
  display: flex;
  padding: 0 0.3rem;
  justify-content: space-between;
}

#new-item {
  border: none;
  font-size: 1.5rem;
  margin: 0.7rem;
  text-align: left;
  padding: 0.5rem;
  flex: 1;
}

#new-item::placeholder {
  color: #8c8c8c;
  font-style: italic;
  font-size: 1rem;
  font-weight: 100;
}

#new-item:focus::placeholder {
  color: transparent;
  cursor: pointer;
}

.on-hover {
  outline: 3px solid salmon;
  font-style: italic;
  font-weight: 200;
}

#archive {
  margin: 1rem;
  padding: 0 30%;
}

#todo-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f3fab5b2;
}

.form-check {
  margin-left: 0.5rem;
  display: flex;
  flex: 1;
  gap: 1.5rem;
  text-align: left;
  min-width: 82%;
}

.form-check-label {
  flex: 1;
  overflow-x: auto;
  max-width: 100%;
  transition: 0.3s all linear;
}

.icons {
  display: flex;
}

.dispaly-none {
  display: none;
}

.help {
  visibility: hidden;
  background-color: rgb(255, 243, 226);
  color: #11020e;
  text-align: center;
  border-radius: 6px;
  display: block;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -2rem;
  left: 115%;
}

i:hover .help {
  visibility: visible;
}

.setVisibilityHidden {
  visibility: hidden;
}

.setVisibility {
  visibility: visible;
}

.false-input-container {
  position: relative;
  display: flex;
  flex: 1;
}

#false-input {
  position: absolute;
  z-index: 1;
  top: -1rem;
  left: 10%;
}

footer {
  margin-top: auto;
  font-size: 1rem;
  width: fit-content;
}
